* {
    line-height: 1.8em;
    letter-spacing: .1em;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
header ul li a {
    line-height: 1.3;
    letter-spacing: 0;
}
.position{
    position: relative;
    padding: 0 !important;
}
#top-image{
    border-radius: 0 !important;
}
#ombre {
    text-shadow: 1px 1px 1px black;
    height: 50vh;
}
#ombre div{
    position: absolute;
    top: 500px; 
    left: 50% !important;
    transform: translate(-50%, -50%);
}





#card .card-img-top {
    height: 250px;
}
#card .zoom{
    transform: scale(1);
	transition: .3s ease-in-out;
}
#card .zoom:hover {
    transform: scale(1.3);
}


#cardHoriz {
    height: 400px;
}



#agenda:before {
    content: "";
    position: absolute;
    top: 1853px;
    width: 29%;
    left: -232px;
    min-height: 787px;
    z-index: 0;
    background: repeating-linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0) 38px,#fff 0,#fff 66px);
    transform: rotate(-45deg);
}


#imgHistory{
    height: 275px;
}
/*
* Hover sur l'img CT
*/

.imgCT {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align:center;
}
.imgCT .fadedboxCT{
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    height: 275px;
}
.imgCT:hover .fadedboxCT { opacity: 0.8; }
.imgCT .text {
    transition: all 300ms ease-out;
    transform: translateY(30px);
}
.imgCT .title {
    font-size: 1.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    margin-top: 40px;
}
.imgCT a {
    text-decoration: none;
    color: red;
}
.imgCT:hover .title,
.imgCT:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

/* ----- HOVER SUR IMG ----- */

/*
 * hover sur l'image History
 */

 .historySlide {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align:center;
    }
    .historySlide .fadedboxHistory{
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 15px;
    color: #fff;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 95%;
    height: 275px;
    }
    .historySlide:hover .fadedboxHistory { opacity: 0.8; }
    .historySlide .text {
    transition: all 300ms ease-out;
    transform: translateY(30px);
    }
    .historySlide .title {
    font-size: 1.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    margin-top: 110px;
    color: red;
    }
    .historySlide a {
        text-decoration: none;
    }
    .historySlide:hover .title,
    .historySlide:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    }


/*
* Hover sur l'img CT
*/

.imgCT {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align:center;
}
.imgCT .fadedboxCT{
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    height: 275px;
}
.imgCT:hover .fadedboxCT { opacity: 0.8; }
.imgCT .text {
    transition: all 300ms ease-out;
    transform: translateY(30px);
}
.imgCT .title {
    font-size: 1.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    margin-top: 40px;
    color: red;
}
.imgCT a {
    text-decoration: none;
}
.imgCT:hover .title,
.imgCT:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

/*
* Hover sur l'img VTT
*/

.imgVTT {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align:center;
}
.imgVTT .fadedboxVTT{
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    height: 275px;
}
.imgVTT:hover .fadedboxVTT { opacity: 0.8; }
.imgVTT .text {
    transition: all 300ms ease-out;
    transform: translateY(30px);
}
.imgVTT .title {
    font-size: 1.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    margin-top: 40px;
    color: red;
}
.imgVTT a {
    text-decoration: none;
}
.imgVTT:hover .title,
.imgVTT:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.morph {
    width: 250px;
    height: 150px;
    filter: grayscale(0) blur(0px);
    transition: all 0.5s ease;
}
.morph:hover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: rotate(360deg);
}

footer ul {
    list-style:none;
}

@media screen and (max-width: 505px) {
    .historySlide .fadedboxHistory {
        position: absolute;
        left: 15px !important; 
        width: 92% !important;
     }
     #textTitleCT {
         margin-top: 20px !important;
     }
     #textTitleVTT {
         margin-top: 20px !important;
     }
}
@media screen and (max-width: 630px) {
    #text-desk {
        visibility: hidden;
    }
    #textResponsive {
        display: block !important;
    }
    #hrResponsive {
        display: block !important;
    }
    #card .card-img-top {
        height: 170px;
    }
}
@media screen and (max-width: 767px) {
    #cardHoriz .card-block {
        display: none;
    }
    #titreDisplay {
        display: block !important;
    }
    #presentation .card-img {
        padding-top: 120px;
    }
    #text-desk {
        top: 300px !important;
    }
}

@media screen and (max-width: 992px) {
    #imgHistory {
        height: 178px !important;
    }
}

@media screen and (max-width: 1200px) {
    #text-desk {
        top: 400px !important;
    }
    #imgHistory {
        height: 235px;
    }
}